* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    transition: all 1s;
}

.notifs {
    position: absolute;
    left: 20px;
    bottom: 230px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.notif {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 0;
    padding: 10px 10px;
    background-color: #26283a;

    /* animatoins */
    transition: all 1s;
    animation: slideInNotif 1s forwards, slideOnNotif 1s forwards 4s;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-bottom: 5px;
}

.content img {
    width: 20px;
    padding: 5px;
    border-radius: 20px;
    /* margin-right: 5px; */
    margin-right: 5px;
}

.content #showmsg {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    /* text-align: justify;
    word-spacing: 5px; */
    line-height: 20px;
}

.title-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.title-area h1 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    /* margin-bottom: 5px; */
}

.loader {
    width: 0%;
    height: 7px;
    position: absolute;
    bottom: 0px;
    left: 0;
    /* background-color: #dbdbdb; */

    /* anim */
    transition: all 1s;
    animation: loaderAnim 4s forwards;
    animation-delay: 1s;
}




/* amnimations */


/* start notif anim  */
@keyframes slideInNotif {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideOnNotif {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-150%);
    
    }
}

/* end notif anim  */

/* start loader */

@keyframes loaderAnim {
    0% {
        width: 0%;
    }

    75% {
        border-radius: 0;
    }

    100% {
        width: 100%;
        border-radius: 0 0 15px;
        background-color: #dbdbdb;
    }
}

/* end loader */